<div class="row row-cols-1 row-cols-md-3 g-4">
  <div (click)="verArtista(item)" class="col" *ngFor="let item of items">
    <div class="card h-100 animated fadeIn puntero">
      <img [src]="item.images[0].url" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{ item.name }}</h5>
        <p class="card-text">
          <span
            *ngFor="let artist of item.artists"
            class="badge rounded-pill text-bg-primary"
            >{{ artist.name }}</span
          >
        </p>
      </div>
    </div>
  </div>
</div>
